.container {
  height: 50vw;
  position: relative;
  width: 50%;
  max-width: 500px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-bottom: 32px;
}

.title {
    color: white;
    font-size: 48px;
    /* justify-content: center;
    align-items: center;
    text-align: center; */
}

.section {
    margin-top: 16px;
    display: flex;
}

.section1 span{
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.section1 i {
    margin: 0 8px;
    color: white;
    font-size: 18px;
}

.section2 p {
    font-size: 18px;
    margin: 0;
    color: white;
    line-height: 20px;
}

.section3 span{
    /* font-size: 14px; */
    margin: 20 8px;
    color: white;

}

.section3 b {
    /* margin: 0 8px; */
    font-size: 18px;
    color: white;
    /* font-size: 14px; */

}
