.swiper-button-prev{
height: 100%;
color: white;
width: 58px;
top:22px;
left: 0;
}

.swiper-button-next{
height: 100%;
color: white;
width: 58px;
top:22px;
right: 0;
}

.swiper-button-next:hover, 
.swiper-buttom-prev {
    background: rgba(0,0,0,0.4);
}